@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: #ffffff;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f3f4f6;
}

::-webkit-scrollbar-thumb {
  background: #22c55e;
  /* Green 500 */
  border-radius: 4px;
}